/* © 2026 developer of https://howa.space */
/* Color reference: https://coolors.co/ */
* 
{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body
{
    padding: 0; 
    margin: 0;
    background-color: #f2e8cf;
} 
a,a:visited 
{ 
    text-decoration: none; 
    color: inherit;
}
nav a:hover, footer > div > a:hover, #menu_button:hover
{
    color: white;
    background-color: #386641;
}
footer > div > a:hover{
    border: 2px solid #6a994e;
    border-radius: 3rem;
    padding: 0.25rem 0.5rem;
}
footer > div > a {
    border: 2px solid #6a994e;
    border-radius: 3rem;
    padding: 0.25rem 0.5rem;
    margin: 0rem 0.5rem;
}
main
{
    margin: 1rem 1rem 1rem 1rem;
}
main a:hover
{
    color: #bc4749;
}
header { grid-area: header;}
main { grid-area: main;}
footer { grid-area: footer;}
.grid-container
{
    display: grid;
    grid-template-areas:
        '. header header header .'
        '. main main main .'
        '. footer footer footer .';
    padding: 0;
    margin: 0;
}
footer 
{
    text-align: center; 
    color: black; 
    background-color: #a7c957; 
    padding: 0.3rem 0rem;
    padding-top: 0.8rem;
    float: left;
    bottom: 0px; width: 100%;
}
footer div 
{
    margin-bottom: 1rem;
}
nav
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: black; 
    background-color: #a7c957; 
    padding: 1rem;
    width: 100%;
}
nav a, nav div a, #menu_button
{
    text-align: center;
    padding: 0.5rem 1rem;
    border-color: #6a994e;
    border-width: 3px;
    border-style:solid;
    border-radius: 3rem;
    margin: 0.5rem 1rem;
    background-color: #a7c957;
}
nav div div{
    float: right;
}
main{
    position: relative;
}
main img{
    border: 1px solid #bc4749;
}
.external
{
    color: #bc4749;
}
form{
    margin: 0rem 0rem 1rem 1rem;
}
textarea {
    resize: both;
}
.red{
    color: red;
}
/* AI chatbot */
/* User input */
#query{
    resize: both;
    width: 75%;
    height: fit-content;
}
/* records */
.query {
    /* background-color: white; */
    /* border: 1px solid #bc4749; */
    /* border-radius: 1rem; */
    padding: 1rem 1rem;
    margin: 0.25rem 0rem 0rem 0rem;
    width: 75%;
    text-align: right;
    height: fit-content;
}
.response {
    background-color: white;
    border: 1px solid #bc4749;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 0rem 0rem;
    width: 75%;
    text-align: justify;
    height: fit-content;
}

#menu_button {
    display: none;
    cursor: pointer;
    clear: both;
}
